* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .scramble {
    font-size: 200px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    /* mix-blend-mode: difference; */
  }
  

  video, img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* opacity: 0.7; */
  }