.outer-glow {
    width : 354px;
    height : 130px;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    filter : blur(32px);
    opacity: 0.6;
    overflow: hidden;
}
.outer-glow::after {
    content : '';
    position : absolute;
    width : 200%;
    height : 200%;
    top : -50%;
    left : -50%;
    background: conic-gradient(
        from 60deg at 50% 50%,
        transparent 0deg,
        #4d3fd0 15deg,
        transparent 145deg,
        #e830ba 215deg,
        transparent 325deg,
        );
    animation : 
    spin-effect var(--spin-duration, 4s) linear infinite;
}