<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window Mac OS Component</title>
    <link rel="stylesheet" href="../style/placeholder.css">
</head>
<body>
    <!-- WINDOW PICTURE -->
     <div class="window-container">
        <!-- NAV FICTIVE -->
         <div class="top-bar">
            <span class="top-bar-name">index.html</span>
            <!-- ACTIONS -->
            <div class="top-bar-actions">
                <div class="action-one"></div>
                <div class="action-two"></div>
                <div class="action-three"></div>
            </div>
         </div>
         <!-- CONTENT -->
          <figure>
            <img src="../assets/placeholder.png" alt="random image">
            <figcaption>Random Image</figcaption>
          </figure>
     </div>



     <!-- WINDOW VIDEO -->  
     <div class="window-container">
        <!-- NAV FICTIVE -->
         <div class="top-bar">
            <span class="top-bar-name">index.html</span>
            <!-- ACTIONS -->
            <div class="top-bar-actions">
                <div class="action-one"></div>
                <div class="action-two"></div>
                <div class="action-three"></div>
            </div>
         </div>
         <!-- CONTENT -->
          <figure>
            <video src="../assets/placeholder.mp4" autoplay muted loop></video>
            <figcaption>Random Video</figcaption>
          </figure>
     </div>

</body>
</html>