*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
}

body{
    background-color: #F2F2F2;
    font-family: 'Arial', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.white-chat-main-container, .black-chat-main-container{
    width: 320px;
    height: 340px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
    overflow-x: hidden;
    /* cacher la scrollbar tout en gardant le scroll */
    -ms-overflow-style: none;  /* IE 10+ / ancien Edge */
    scrollbar-width: none;     /* Firefox */
}

.black-chat-main-container{
    background-color: #252525;
}

/* Chrome / Safari / Edge (Chromium) */
.white-chat-container::-webkit-scrollbar, .black-chat-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.white-chat-container-nav, .black-chat-container-nav{
    z-index: index -2;
    padding: 6px;
    width: 100%;
    background-color: #D6D6D6;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}

.black-chat-container-nav{
    background-color: #000000;
}

span{
    font-size: 10px;
    text-transform: uppercase;
}

span.black{
    color: #FFFFFF;
    opacity: 0.5;
}

.white-chat-container-nav-circle, .black-chat-container-nav-circle{
    display: flex;
    align-items: center;
    gap: 4px;
}

.circle1, .circle2, .circle3{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
}

.circle2{
    background-color: #06AEAB;
}

.circle3{
    background-color: #FF51D1;
}

/* style chatbox content */

.white-chat-container, .black-chat-container{
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.white-chat-container-pseudo, .black-chat-container-pseudo{
    font-size: 14px;
    text-transform: initial;
    color: #FF51D1;
}
.black-chat-container-pseudo{
    color: #FFFFFF;
}

.white-chat-container-message, .black-chat-container-message{
    background-color: #F2F2F2;
    padding: 6px;
    border-radius:4px;
}

.black-chat-container-message{
    background-color: #363636;
}

.white-chat-container-message-text, .black-chat-container-message-text{
    font-size: 14px;
    text-transform: initial;
}

.black-chat-container-message-text{
    color: #939393;
}
