body {
    background-color: #e9e9e9;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 24px;
}

.window-container {
    width: 400px;
    height: 232px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.top-bar{
    background-color: black;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

span.top-bar-name{
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

figure{
    height: 100%;
    width: 100%;
    margin: 0;
}

img, video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top-bar-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.action-one, .action-two, .action-three{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #888;
}

.action-one{
    background-color: #FFFFFF;
}

.action-two{
    background-color: #54FFCC;
}

.action-three{
    background-color: #FF51D1;
}