* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: #fff;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    position: relative;
    width: 420px;
    height: 420px;
    overflow: hidden;
    border: 1px solid #000;
    /* padding: 24px; */
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  .scan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(-10px);
  }
  
  #cta {
    padding: 10px 20px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    font-size: 12px;
  }
  